*.ppm
*.jpg
*.jpeg
*.png

# Ignore binary files
*.o
main
dsc
build
build/*

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
